{% extends '::base.html.twig' %}

 {% block body %}
	
	<div class="span12 offset1">
		<h1>This is a Contact us page</h1>
		
	
	<form class="form-horizontal" role="form">
	  <div class="form-group has-success has-feedback">
		<label class="control-label col-sm-3" for="inputSuccess3">Input with success</label>
		<div class="col-sm-9">
		  <input type="text" class="form-control" id="inputSuccess3">
		  <span class="glyphicon glyphicon-ok form-control-feedback"></span>
		</div>
	  </div>
	</form>
	
	</div>
	

	
 {% endblock %}
